{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CodeHub</title>
  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>

<body>
  <div class="background-wrapper">
    <header>
      <div class="brand-logo">Code<span>Hub</span></div>
      <nav>
        <a class="highlight-link" href="{% url 'premium' %}">Premium</a>
        <a class="nav-link-underline" href="#" onclick="scrollToHero(event)">About Us</a>
        <a class="nav-link-underline" href="{% url 'explore' %}">Explore</a>
        <a class="nav-link-underline" href="{% url 'problem_list' %}">Problems</a>
      </nav>

      <div class="header-actions">
        {% if user.is_authenticated %}
      <span>{{ user.username }}</span>
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Logout</button>
      </form>
      {% else %}
        <a href="{% url 'login' %}"><button class="signin-button"> Login </button></a>
        {% endif %}
      </div>
    </header>
  </div>

  <section class="hero-section">
    <h1><span class="highlight">Start</span> Your Journey <br /> To Compete</h1>
    <p>
      <span class="subtitle-top">We help thousands of companies hire and upskill the next generation</span>
      <span class="subtitle-bottom">of developers, and millions of developers to become one.</span>
    </p>

    <div class="button-group">
      <a href="#" class="business-button">For Business<br />Create a assocciation</a>
      <a href="{% url 'signup' %}" class="developer-button">For developers<br />Create a new account</a>
    </div>
  </section>

  <section class="learning-section" id="learning-section">
    <div class="content-wrapper">
      <div class="challenge-description">
        <h3 class="challenge-block">Challenge Yourself with Code</h3>
        <p class="challenge-text">
          Practice from a growing library of over 3,000 coding problems, engage with our vibrant developer community, and participate in contests to push your limits.
        </p>
        <a class="view-link" href="{% url 'problem_list' %}">Browse Challenges ></a>
      </div>

      <div class="company-block">
        <h3 class="candidate-block">For Recruiters & Job Seekers(Loading Soon!!!!)</h3>
        <p class="paragraph-secondary">
          Whether you're hiring or job hunting, CodeHub provides tools for candidate assessments, interview practice, and talent discovery for tech roles.
        </p>
        <a class="opportunities-link" href="#">See Opportunities ></a>
      </div>
    </div>
  </section>

  <section class="explore-section">
    <div class="content-wrapper">
      <div class="challenge-description">
        <h3 class="challenge-block">Learn multiple Resources</h3>
        <p class="challenge-text">
          Explore multiple topics to gain knowledge about the programming and participate in contests to push your rank on the codehub and talent discovery for tech roles.
        </p>
        <a class="explore-link" href="{% url 'explore' %}">Exolore Resources ></a>
      </div>
      <div class="company-block">
        <h3 class="candidate-block">Associate with Us</h3>
        <p class="paragraph-secondary">
          Whether you're hiring or job hunting, CodeHub provides tools for candidate assessments, interview practice, and talent discovery for tech roles.
        </p>
        <a class="associate-link" href="#">Associate ></a>
      </div>
    </div>
  </section>

  <div class="footer-wrapper">
    <div class="footer-section">
      <h4>Solutions</h4>
      <a href="#">Set up your skills strategy</a>
      <a href="#">Showcase your tech brand</a>
      <a href="#">Optimize your hiring process</a>
      <a href="#">Mobilize your internal talent</a>
    </div>

    <div class="footer-section">
      <h4>Resources</h4>
      <a href="{% url 'dsadashboard' %}">DSA</a>
      <a href="{% url 'sqldashboard' %}">SQL</a>
      <a href="#">Java</a>
      <a href="#">Python</a>
      <a href="#">C++</a>
    </div>

    <div class="footer-section">
      <h4>About us</h4>
      <a href="{% url 'problem_list' %}">Challenge Yourself with Code</a>
      <a href="#">For Recruiters & Job Seekers</a>
      <a href="#">Learn multiple Resources</a>
      <a href="#">Associate with Us</a>
    </div>
  </div>

  <div class="social-footer">
    <h4 class="social-footer-title">Associate With Us On</h4>
    <div class="social-footer-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-google"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>

  <div class="divider-line"></div>

  <footer class="site-footer">
    <div class="footer-main-content">
      <p class="footer-text">Copyright © 2025 CodeHub</p>
      <ul class="footer-nav-links">
        <li><a class="footer-link-underline" href="#">Help Center</a></li>
        <li><a class="footer-link-underline" href="{% url 'terms' %}">Terms</a></li>
        <li><a class="footer-link-underline" href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>

<script src="{% static 'js/index.js' %}"></script>
</body>

</html>