{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ title }}</title>
  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/submit.css' %}" />
</head>
<body>
  <!-- White Navbar -->
  <header>
    <div class="logo">Code<span>Hub</span></div>
  </header>

  <!-- Main Content -->
  <div class="main-container">
    <!-- Problem Description -->
    <div class="panel problem-panel">
      <div class="problem-title">{{ problem.title }}</div>
       <div class="problem-description">
        {{ problem.description|linebreaksbr }}
        <br>
        <br>
        <strong>Input:</strong><br>
        {{ problem.input_format|linebreaksbr }}<br><br>

        <strong>Input Format:</strong><br>
        {{ problem.sample_input|linebreaksbr }}<br><br>

        <strong>Output:</strong><br>
        {{ problem.output_format|linebreaksbr }}<br><br>

        <strong>Output Format:</strong><br>
        {{ problem.sample_output|linebreaksbr }}<br><br>

        <strong>Constraints:</strong><br>
        {{ problem.constraints|linebreaksbr }}
       </div>

    </div>

    <!-- Code Editor Panel -->
    <div class="panel code-panel">
    {% if error %}
    <div class="submit-error">
    {{ error }}
    </div>
    {% endif %}
      <form method="POST" action="{% url 'submit_solution' problem.slug %}">
      {% csrf_token %}
      <label for="language">Choose Language:</label>
      <select id="language" name="language_id" class="select-language">
        <option value="54">C++</option>
        <option value="71">Python</option>
        <option value="62">Java</option>
      </select>

  <div class="editor-container">
    <div id="lineNumbers" class="line-numbers"></div>
    <textarea id="editor" name="code" class="code-editor" placeholder="Write your solution here..."></textarea>
  </div>
      <div class="controls">
        <button class="submit-button">Submit Code</button>
      </div>

      </form>

  {% if test_case_results %}
    <div class="testcase-results">
      <h3>Test Case Results</h3>
      {% for tc in test_case_results %}
        <div class="testcase-result">
            <span class="testcase-number">Test Case {{ forloop.counter }}:</span>
        {% if tc.status == "Accepted" %}
            <span class="status passed">Passed</span>
        {% else %}
            <span class="status failed">Failed ({{ tc.status }})</span>
        {% endif %}
        <span class="testcase-time"> | Time: {{ tc.time }}s</span>
        <span class="testcase-memory"> | Memory: {{ tc.memory }} KB</span>
        </div>
    {% endfor %}
    </div>
  {% endif %}
 

    </div>
  </div>
<script src="{% static 'js/submit.js' %}"></script>
</body>
</html>
