<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${title}">Page Title</title>
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/submit.css}" />
</head>
<body>

<header>
    <div class="logo">Code<span>Hub</span></div>

    <div th:if="${currentUser != null}">
        <img th:src="@{/api/user/profilePicture/{id}(id=${currentUser.id})}" alt="Profile Picture" class="pfpImageMini">

        <span th:text="${currentUser.displayName}"></span>
        <span th:text="${currentUser.ratings}" ></span>

        <form th:action="@{/logout}" method="post" style="display:inline;">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>

</header>

<div class="main-container">
    <div class="panel problem-panel">
        <div class="problem-title" data-th-id="${problem.id}" th:text="${problem.title}">Problem Title</div>
        <div class="problem-description">
            <span th:utext="${#strings.replace(problem.pageDescription, '\n', '<br/>')}"></span>
            <br><br>
            <strong>Input:</strong><br>
            <span th:utext="${#strings.replace(problem.inputType, '\n', '<br/>')}"></span><br><br>

            <strong>Input Format:</strong><br>
            <div>
                <div th:each="input, iterStat : ${problem.inputs}" th:if="${iterStat.index < 2}">
                    <pre th:text="${input}" class="quote-style"></pre>
                </div>
            </div>
            <br>

            <strong>Output:</strong><br>
            <span th:utext="${#strings.replace(problem.outputType, '\n', '<br/>')}"></span><br><br>

            <strong>Output Format:</strong><br>
            <div>
                <div th:each="output, iterStat : ${problem.expectedOutputs}" th:if="${iterStat.index < 2}">
                    <pre th:text="${output}" class="quote-style"></pre>
                </div>
            </div>
            <br>

            <strong>Banned Libraries:</strong><br>
            <table class="banned-libraries">
                <thead>
                <tr>
                    <th>Language</th>
                    <th>Import</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${problem.bannedLibrary}">
                    <td th:text="${entry.key}"></td>
                    <td th:text="${entry.value}"></td>
                </tr>
                </tbody>
            </table>
<!--            <strong>Constraints:</strong><br>-->
<!--            <span th:utext="${#strings.replace(problem.constraints, '\n', '<br/>')}"></span>-->
        </div>
    </div>

    <div class="panel code-panel">
        <div class="submit-error" th:if="${error}" th:text="${error}"></div>

        <form method="post">
            <label for="language">Choose Language:</label>
            <select id="language" name="language_id" class="select-language">
                <option value="JAVA">Java</option>
            </select>

            <div class="editor-container">
                <div id="lineNumbers" class="line-numbers"></div>
                <textarea id="editor" name="code" class="code-editor" th:text="${templateCode}"></textarea>
            </div>

            <div class="controls">
                <button class="submit-button">Submit Code</button>
            </div>
        </form>

        <div class="testcase-results" id="testcase-dialog">
            <h3>Output</h3>
            <div class="testcase-result">
                <span class="testcase-number"></span>
                <span class="status passed"></span>
                <span class="testcase-time"><span></span> MS</span>
                <span class="testcase-memory"> | Memory: <span></span> KB</span>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/submit.js}"></script>
</body>
</html>
